<div class="header">
    <div class="header-left">
        <span>
            <mat-icon>mail</mat-icon>Inbox
        </span>
    </div>
    <div class="header-right" style="cursor: pointer" (click)="setCollapse()" *ngIf="!isCollapse">
        <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
    <div class="header-right" style="cursor: pointer" (click)="setCollapse()" *ngIf="isCollapse">
        <mat-icon>keyboard_arrow_up</mat-icon>
    </div>
</div>

<div class="content" *ngIf="isCollapse">
    <div *ngFor="let item of inboxData; let i =index;">
        <button mat-raised-button (click)="viewInfo(item)">
            <img src="../../../assets/profile.png">
            <div class="name">{{item.from.name}}</div>
            <div class="subject">{{item.subject}}</div>
            <div class="body">{{item.body}}</div>
        </button>
    </div>
</div>
